[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pytest-playwright = "*"
requests = "*"
playwright = "==1.20.1"
allure-python-commons = "==2.9.45"
allure-pytest = "*"
pytest-xdist = "*"
pytest-repeat = "*"

[dev-packages]

[requires]
python_version = "3.10"
